<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.twx.marryfriend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 这个权限添加之后，比较老的手机会无法调用相机，删除之后则能调用 -->
    <uses-permission android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND" /> <!-- 解决上方问题而添加 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 这是在sd卡内创建和删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- sd卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 适配Android R包可见性 开始 -->

    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name_channel}"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarryFriend"
        tools:replace="android:label">
        <activity
            android:name=".mine.greet.GreetEditActivity"
            android:exported="false" />
        <activity
            android:name=".mine.greet.GreetInfoActivity"
            android:exported="false" />
        <activity
            android:name=".mine.verify.VerifyInputActivity"
            android:exported="false" />
        <activity
            android:name=".mine.life.LifePhotoActivity"
            android:exported="false" />
        <activity
            android:name=".guide.jumpInfo.JumpActivity"
            android:exported="true" />
        <activity
            android:name=".mine.user.UserActivity"
            android:exported="true" />
        <activity
            android:name=".mine.verify.VerifyActivity"
            android:exported="false" />
        <activity
            android:name=".mine.verify.face.VerifyCollectionSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".mine.verify.face.VerifyFaceLivenessExpActivity"
            android:exported="false" />
        <activity
            android:name=".login.retrieve.activity.FaceLivenessExpActivity"
            android:exported="false" />
        <activity
            android:name=".login.retrieve.activity.CollectionSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".login.retrieve.RetrieveActivity"
            android:exported="false" />
        <activity
            android:name=".guide.testActivity"
            android:exported="false" />
        <activity
            android:name=".guide.info.GetInfoActivity"
            android:exported="false" />
        <activity
            android:name=".guide.detailInfo.life.LifeIntroduceActivity"
            android:exported="false" />
        <activity
            android:name=".guide.detailInfo.artificial.IdentityActivity"
            android:exported="false" />
        <activity
            android:name=".guide.detailInfo.DetailInfoActivity"
            android:exported="true" />
        <activity
            android:name=".guide.detailInfo.search.SchoolSearchActivity"
            android:exported="true" />
        <activity
            android:name=".guide.baseInfo.BaseInfoActivity"
            android:exported="true" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".begin.BeginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="true"></activity> <!-- 联通电信授权页 -->
        <activity
            android:name="com.mobile.auth.gatewayauth.LoginAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop" /> <!-- 协议页面webview -->
        <activity
            android:name="com.mobile.auth.gatewayauth.activity.AuthWebVeiwActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind" /> <!-- 移动授权页 -->
        <activity
            android:name="com.cmic.sso.sdk.activity.LoginAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.weilai.marryfriend.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="O4Dd8acvwZRrNMhGQtzwzvKXzvgGLEuH" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>